.loading {
    z-index: 100;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    text-align: center;
}

.waiting-screen {
    z-index: 75;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
}

.waiting-inner {
    width: 1200px;
}

.screen {
    z-index: 50;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background: #000;
}

.lyrics-wrap {
    display: flex;
    position: absolute;
    left:0;
    top:-10rem;
    width: 100%;
    height: 100%;
    color: #fff;
}

.lyrics {
    margin: auto auto auto 0;
    padding: 0 10rem;
    position: relative;
    width: 100%;
}

.lyrics * {
    width: 100%;
    white-space: nowrap;
    transition: .3s all;
    animation: fadeInUp;
    animation-duration: .3s !important;
}

.lyrics .last {
    position: absolute;
    top: -50px;
    opacity: 0;
    font-size: 50px;
    color: #fff;
}

.lyrics .previous {
    position: absolute;
    top: 0;
    opacity: .25;
    font-size: 50px;
    color: #fff;
}

.lyrics .now {
    position: absolute;
    top: 7rem;
    font-size: 55px;
    font-weight: 500;
    margin-top: 0px !important;
}

.lyrics .next {
    top: 14rem;
    position: absolute;
    filter: opacity(.5);
    font-size: 50px;
}

.meta {
    position: absolute;
    display: flex;
    height: 48px;
    bottom: 5rem;
    border-bottom: 4px solid rgba(255,255,255,.25);
    left: 5rem;
    right: 5rem;
    color: #fff;
    transition: .3s;
    opacity: .5;
}

.time {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    right: 5rem;
    opacity: .5;
}

.time-bar {
    transition: 1s linear;
    background: #fff;
    height: 4px;
    width: 0%;
}
